/* CSS declarations go here */

.navbar {
  background-color: #43b3ae;
  font-family: monospace;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar .nav > li > a {

    color:  #ddd;
}

.wide {
  width:100%;
  height:800px;
  background-image: url('/img/murmuration.jpg');
  background-size:cover;
  color: #ffffff;
  font-family: monospace;
}

.wide img {
  width:100%;
  height: 100%;
}

.row {
  padding-top: 20px;
  color: #43b3ae;
  font-family: monospace;
  padding-bottom: 20px;
}


.p {
  font-family: monospace;
}

blockquote {
  font-family: monospace;
}

row {
  padding-top: 20px;
}

* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -155px;
}
.footer {
  padding-top: 50px;
  background-color: #43b3ae;
  height: 155px;
}

.push {
  height: 155px;
}
